@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
#index{
    background-image: url('https://yolandamatiwane.github.io/ecomImages/anime-reading-books-fantasy-e1616002325335.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(114, 8, 84);
}
.nav-link, .navbar-brand{
    color: rgb(35, 122, 89);
    font-weight: 600;
}
.navebar-custom{
    background-color: rgb(173, 58, 189);
}
#indexCard .card-text{
    color: rgb(35, 122, 89);
    font-weight: 700;
    
    /* color: rgb(66, 190, 170);
    text-shadow: 2px 2px 4px #f8f8f8; */
    overflow: hidden; 
}
#indexCard{
    margin-left: 50px;
    margin-top: 100px;
    
    border: none;
    width: 600px;
    height: 300px;
    background-color: rgba(240, 248, 255, 0);
}

img{
    height: 300px;
}
#mainCard_1{
    background-color: rgb(15, 13, 31);
}
#mainCard_1 .card{
    display: inline;
    height: 300px;
}
.card img{
    width: 300px;
    height: 300px;
}